include ../utils/mixins
block variables

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		meta(property="og:image" content=require("images/general/social-preview.png"))

		link(rel='apple-touch-icon' sizes='180x180' href=require('images/favicon/apple-touch-icon.png'))
		link(rel='icon' type='image/png' sizes='32x32' href=require('images/favicon/favicon-32x32.png'))
		link(rel='icon' type='image/png' sizes='16x16' href=require('images/favicon/favicon-16x16.png'))
		link(rel='manifest' href=require('images/favicon/site.webmanifest'))
		meta(name='msapplication-TileColor' content='#24292E')
		meta(name='theme-color' content='#24292E')

		<!--[if lt IE 9]>
		script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
		<![endif]-->

	body
		.wrapper

			main.content
				block content

		block script
